name: PR Open for Java Application
run-name: ${{ github.actor }} runned this pipeline

on:
  workflow_call:
    inputs:
      java-version:
        description: "Java version"
        required: false
        type: string
      maven-version:
        description: "Maven version"
        required: false
        type: string
      project-name:
        description: Your Project name
        required: false
        type: string
      service-name:
        description: Your service name
        required: false
        type: string
      image-tag:
        description: The docker image tag
        required: false
        type: string
        

jobs:
  pr-open-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Clone source code
        uses: actions/checkout@v5
      
      - name: Detect Programming language
        id: detect
        uses: hoangvankhoa205/centralized-ci/.github/actions/detect-language@main

      - name: Build App
        if: ${{ steps.detect.outputs.language == 'java' }}
        uses: hoangvankhoa205/centralized-ci/.github/actions/java-maven-build@main
        with:
          java-version: '21'
          maven-version: '3.9.6'
          working-directory: '.'
